<h2 class="govuk-heading-m">Design patterns and components</h1>
    <p class="govuk-body">How we use existing design, research and data to design our products and services.</p>
   
   
   
   
   <p class="govuk-body">
     Whatever problem you’re trying to solve it's likely that someone has already faced it, or a similar one. 
     </p>
   <p class="govuk-body">
     We follow a component based approach to design. Breaking things down into meaningful components and patterns, which we share, re-use and review.
   </p>
   <p class="govuk-body">
     It is our responsibility to use existing patterns and examples first and to contribute back to them.
   </p>
   <p class="govuk-body">
     Before creating something new you should always check:
    </p>
   
    <ul class="govuk-list govuk-list--bullet">
     <li>the GDS Design System and its backlog</li>
     <li>the DWP Design System and its backlog</li>
     <li>DWP Design Examples (on DWP’s Confluence pages)</li>
     <li>Slack, ask your colleagues if they’re working on any similar problems</li>
     </ul>
    
    
    <h2 class="govuk-heading-m">GDS Design System</h2>
    
    <p class="govuk-body">
     We look for design patterns from GOV UK first.
    </p>
   
    <p class="govuk-body">
    <a href="https://design-system.service.gov.uk">See the GDS Design System</a> 
    and its <a href="https://github.com/alphagov/govuk-design-system-backlog/projects/1>backlog">backlog</a>
    </p>
   
    <h3 class="govuk-heading-m">DWP Design System</h3>
    
    <p class="govuk-body">
     The DWP Design System includes patterns and components built and tested in DWP. These are all elements the GDS Design System does not include. 
   </p>
   <p class="govuk-body">
     Our design patterns follow and support the GDS Design System.
      </p>
   
    <p class="govuk-body">
    <a href="https://design-system.dwp.gov.uk/">See the DWP Design System</a>
    and its <a href="https://github.com/dwp/design-system/projects/2#column-19001143">backlog</a>
    </p>
   
    <h3 class="govuk-heading-m">DWP Design Examples</h3>
   
    <p class="govuk-body">
     We use an internal Confluence site to share emerging designs. The collected work is not yet a pattern and may never be. We use this space to build visibility and agree future patterns.
   </p>
   <p class="govuk-body">
       The examples are available on DWP’s internal Confluence pages.
      </p>
    
   
    <h3 class="govuk-heading-m">If no standard pattern or component exists</h3>
    
    <p class="govuk-body">
     In most cases you will find something existing to build on. If not, you must share your new designs and get regular feedback on them from the design community.</p>
   
    </div>
   
    </div>
   