<h2 class="govuk-heading-m">What is a service?</h2>

 <p class="govuk-body">The CDDO has a standard definition of what a service is, for use in Government. In Service Design at DWP and we have adapted it slightly to better reflect our focus as a community, our adaptations are highlighted in blue :
“All the things that government collectively provides to deliver an outcome for all of its users, through any path a user takes to reach their goal”
A good service should consider:</p>
<p class="govuk-body">
<ul class="govuk-list govuk-list--bullet">
    <li>The end-to-end: from when the user starts trying to achieve a goal to when they finish</li>
    <li>The front to back: connecting the citizen-facing service; internal services, people, systems and processes; supporting policy or legislation; and organisational, financial and governance structures</li>
    <li>Every channel: including online, phone, paper and face-to-face</li>
</ul>
</p>
<p class="govuk-body">A good service requires all aspects of the service to work cohesively and efficiently to deliver outcomes</p>

<h2 class="govuk-heading-s">What is meant by an outcome?</h2>
<p class="govuk-body">An outcome is made up of 2 elements:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>something a user actually needs or a goal they want or have to achieve</li>
    <li>something government aims to deliver, such as improved people experience, increased trust in government or a new policy</li>
</ul>
<p class="govuk-body">There are 3 levels of outcome that all contribute to these needs. Using finding a job as an example, these are:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the outcome you deliver as part of a specific process or step in a journey - such as  a citizen registering as unemployed with a job centre when they become unemployed</li>
    <li>the wider outcome you deliver when you collaborate across organisational boundaries - for example DWP is confident the citizen is eligible for the financial support they are receiving whilst out of work and they are continuing to seek employment</li>
    <li>the overall outcome government and users actually need the citizen is in stable work and able to financially support themselves</li>
</ul>
<p class="govuk-body">An overall service outcome is often part of a wider user journey. For example needing DWP support to find a job could be caused by a citizen being made redundant when their employer needs to downsize or experiencing a change in their health which impacts their work abilities requiring a different job.</p>
<p class="govuk-body">A user journey could be triggered by someone’s change of circumstances or aspirations, a news story, a change in government policy or a government campaign.</p>
  
<p class="govuk-body">When government delivers an outcome, a user usually receives something along the way that has a policy intent behind it. Examples for finding a job include:
<ul class="govuk-list govuk-list--bullet">
    <li>Money - for daily living expenses</li>
    <li>Other financial support - such as discounted travel</li>
    <li>Advice - on writing a CV</li>
    <li>Training - learning new job skills</li>
    <li>Experience - volunteering with a local organisation</li>
    <li>Confidence - To apply for new jobs</li>
</ul>
</p>
<p class="govuk-body">For government or ‘internal’ users, the examples could be:
<ul class="govuk-list govuk-list--bullet">
    <li>Money - for travel expenses</li>
    <li>Training - to accrue new skills</li>
    <li>Confidence - citizen has support they require</li>
</ul>
</p>
<p class="govuk-body">Some services deliver multiple different outcomes at different times.</p>
<h2 class="govuk-heading-s">What we mean by things that collectively provide an outcome</h2>
<p class="govuk-body">To deliver an outcome for users, a service usually includes a number of different things</p>
<p class="govuk-body">Usually it takes more than one part of government to deliver a whole service. On the way to getting an outcome, a user is likely to interact with things provided by several different organisations, functions and professions. In the example we have used of finding a job this includes:
<ul class="govuk-list govuk-list--bullet">
    <li>The citizen browsing gov.uk at home to find out what support is available</li>
    <li>A conversation between an agent and the citizen in the Job Centre Plus</li>
    <li>The agent using internal systems and processes to organise volunteering and training for the citizen</li>
    <li>The citizen volunteering at the organisation</li>
    <li>The citizen learning new job skills at a skills bootcamp</li>
</ul>
</p>














  
  
  
  
  