


        <h2 class="govuk-heading-m">
          Design content for the service, not the channel
        </h2>
        <p class="govuk-body">
          A service begins when someone starts to interact with government and ends when they finish. It isn’t just the part that’s online - it includes offline methods of communication like letters, too. No matter how we deliver the message, we design it as part of the whole service.
        </p>

        <h2 class="govuk-heading-m">
          Focus on removing content, not creating it
        </h2>
        <p class="govuk-body">
          We know that <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#how-people-read">most people don’t read most words on a web page</a>. That’s why it’s important to make sure that every word on a page is there for a reason. Including anything that isn’t absolutely necessary makes it less likely that the crucial content is read. Removing content is the best way of finding out if it’s needed in the first place. Often, the answer is ‘no’.</p>


        <h2 class="govuk-heading-m">
          Be clear
        </h2>
        <p class="govuk-body">
          If we need to choose between clarity and elegance, clear content wins every time. We <a href="https://www.gov.uk/guidance/government-design-principles#sixth">design for every person who needs to use our services></a>. We do that with straightforward journeys and uncluttered pages. We’re unapologetic about using plain language: not just simple words that are easy to read, but words that are easy to understand.

</p>

          <h2 class="govuk-heading-m">
            Use evidence to make decisions
          </h2>
          <p class="govuk-body">
            We work with user researchers and analysts to spot which parts of services aren’t meeting the needs of people using them. We find out which words our users use.</p>

          <p class="govuk-body">
            We take time to make sure we only ask people for information that's essential. We design with evidence, test with real users, and iterate to make the service better.</p>

            <h2 class="govuk-heading-m">
              Help service teams communicate clearly
            </h2>
            <p class="govuk-body">
              If we’re not communicating well with each other, it’s unlikely we’re communicating well with people using our services. That’s why we challenge the use of jargon and work with service teams to write sprint tasks that everyone understands. A team that doesn't communicate clearly can't work effectively.</p>


