{# Import GOV.UK Frontend macros #}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}



{# First section content #}
<h2 class="govuk-heading-m">DWP content design principles</h2>
<p class="govuk-body">These principles are not only useful for content designers to think about, but also colleagues working in all of the areas that touch content design - service teams, policy, communications and operations.</p>

<p class="govuk-body">If you're new to content design as a profession, here are some excellent articles which help explain what we do.</p>

<ul class="govuk-list">
  <li><a href="https://t.co/9tutxJtpf3">A day in the life of a content designer</a></li>
  <li><a href="https://t.co/plQhmHZI3Y">What does a Content Designer do all day?</a></li>
  <li><a href="https://t.co/C9BKICi6MQ">A plea, to everyone - from content designers, everywhere</a></li>
</ul>

<h2 class="govuk-heading-m">Service development phases</h2>
<p class="govuk-body">Services go through discovery, alpha, private beta and public beta phases before they go live.</p>

<p class="govuk-body">Depending upon their size, services may have to be assessed before they can go on to the next phase.</p>

<p class="govuk-body">As part of their assessment, services have to show how they've made content decisions based on user research and analytics.</p>

<p class="govuk-body">Content designers can – and usually should – be involved in service development at each of these stages.</p>

<p class="govuk-body">These are some of the things a Content Designer can be doing at each agile project phase.</p>

<h3 class="govuk-heading-m">Discovery phase</h3>
<p class="govuk-body">Learn about your users, your subject and existing content.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Finding the words people use (Google Analytics, Adwords and Trends, online forums, social media).</li>
  <li>Attending user research (listen to phone calls, meet users, observe how they interact with current services).</li>
  <li>Finding gaps or problems with existing content (<a href="https://support.publishing.service.gov.uk/anonymous_feedback/explore" target="_blank">GOV.UK Feedex</a> and other existing feedback).</li>
  <li>Building your knowledge of the subject and understand the policy intent (work with stakeholders, policy and subject matter experts).</li>
  <li>Helping your team define their focus (write problem statements, mission statements and service descriptions).</li>
</ul>

<h3 class="govuk-heading-m">Alpha phase</h3>
<p class="govuk-body">Build prototypes, design and iterate content.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Creating or updating prototypes (using GOV.UK prototype kit, Heroku and Git).</li>
  <li>Writing and testing letters, text messages, emails and other notifications.</li>
  <li>Following GOV.UK and DWP design patterns and styles (share new patterns and research with other designers in DWP and across government).</li>
  <li>Designing GOV.UK start and done pages and testing with users.</li>
  <li>Testing GOV.UK content with users to cover the whole journey.</li>
  <li>Working with legal and security to understand constraints on content.</li>
  <li>Sharing content and research for GOV.UK start, done and guidance pages with the GDS content team.</li>
  <li>Helping business analysts and product owners to write clear user stories.</li>
</ul>

<h3 class="govuk-heading-m">Beta phase</h3>
<p class="govuk-body">Design the content for your first release.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Designing error and validation messages.</li>
  <li>Showing when the online service is unavailable.</li>
  <li>Explaining how the service uses cookies and collects personal data.</li>
  <li>Writing feedback questions to help the team learn about the user's experience.</li>
  <li>Translating content into Welsh (the Welsh language team can give you this).</li>
  <li>Working with GDS content team on GOV.UK start, done and guidance pages (for launch of public beta).</li>
  <li>Writing metadata descriptions and keywords to help users find the right service and improve search engine rankings.</li>
  <li>Iterating content based on feedback from users, design hypotheses and analytics.</li>
  <li>Helping your team to name the service.</li>
</ul>

<h3 class="govuk-heading-m">Live phase</h3>
<p class="govuk-body">Continue to iterate the service content.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Using feedback and analytics to inform changes or discover new user needs to explore.</li>
</ul>

<h2 class="govuk-heading-m">Who we work with</h2>
<p class="govuk-body">When building services, we work in agile delivery teams. Agile is about building things quickly, testing them and changing them based on continual feedback.</p>

<p class="govuk-body">Each agile team should be made up of or have access to a:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>product owner</li>
  <li>user researcher</li>
  <li>interaction designer</li>
  <li>content designer</li>
  <li>front-end developer</li>
  <li>back-end developer</li>
  <li>technical architect</li>
</ul>

<p class="govuk-body">These roles are collaborative; you don't design content alone.</p>

<p class="govuk-body">Agile teams are to a large extent self-organising and work in different ways. You'll find out more when you join your own team.</p>

<p class="govuk-body">This way of working is still new to the department. An important part of your role is to encourage teams to work in this way.</p>

<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOMContentLoaded fired');
    console.log('GOVUKFrontend available:', !!window.GOVUKFrontend);
    
    if (window.GOVUKFrontend) {
        var tabs = document.querySelector('[data-module="govuk-tabs"]');
        console.log('Found tabs element:', !!tabs);
        
        if (tabs) {
            try {
                new window.GOVUKFrontend.Tabs(tabs).init();
                console.log('Tabs initialized successfully');
            } catch (e) {
                console.error('Error initializing tabs:', e);
            }
        }
    }
});
</script>
 