
  <h1 class="govuk-heading-xl no-margin">Measuring success</h1>
  <p class="govuk-body">Here you'll find some useful ways to measure the success of your content. You can use whatever works best for your own service.</p>



        <h2 class="govuk-heading-m">Our mission</h2>

    <p class="govuk-body">Our mission is to create clear content which helps users to find, understand and complete their goal with the minimum of time, stress and effort.</p>

    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Measuring the success of our mission</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Mission</th>
        <th scope="col" class="govuk-table__header">What we measure</th>
        <th scope="col" class="govuk-table__header">How to measure</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Clear content</th>
        <td class="govuk-table__cell">Easy to understand</td>
        <td class="govuk-table__cell">GDS style guide and user research</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Find</th>
        <td class="govuk-table__cell">Search ranking</td>
        <td class="govuk-table__cell">Google analytics</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Complete their goal</th>
        <td class="govuk-table__cell">Satisfaction</td>
        <td class="govuk-table__cell">Feedback and user research</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Minimum of time</th>
        <td class="govuk-table__cell">Dwell time on pages</td>
        <td class="govuk-table__cell">Google Analytics</td>
      </tr>
    </tbody>
    </table>

      </div>

