<details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Should I use Codecademy or W3Schools?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>We feature resources from both of these platforms. You shouldn't have to do both and will probably quickly work out which you prefer:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.codecademy.com" target="_blank">Codecademy</a>: easy to follow interactive courses, available upon registration. More advanced resources are available at a cost.</li>
      <li><a href="https://www.w3schools.com/" target="_blank">W3Schools</a>: easy to follow interactive guides, but in a different less modern style.</li>
    </ul>
    <p>Where no free resources are available on Codecademy or W3Schools, we've identified alternative ones or provided the relevant information directly.</p>
    <p>There are some other great platforms for tutorials if you are willing to pay: <a href="https://teamtreehouse.com/" target="_blank">Treehouse</a> for example.</p>
    <p>Feel free to <a href="/feedback">recommend other resources</a>.</p>
  </div>
</details>