{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Expectations for Interaction Designers - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Expectations for Interaction Designers in DWP</h1>
  <p class="big-bar__description">These are the expectaions we work towards in our role. They follow the Government Design Principles.</p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
      
        <h2 class="govuk-heading-m">
          Consider the bigger picture
        </h2>
        <p class="govuk-body">
          Interaction designers are problem solvers. We think about problems first and actively encourage those around us to do the same.
        </p>
        <p class="govuk-body">
          Designers must:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make design decisions based on research and data</li>
          <li>consider multiple solutions to a problem</li>
          <li>design for all users regardless of ability or technology</li>
          <li>remove unnecessary interactions</li>
          <li>design user journeys and interation flows, not just screens</li>
          <li>consider all channels, not just digital</li>
          <li>take themselves out of solutions</li>
          <li>be curious</li>
          <li>positively challenge and ask why</li>
        </ul>

        <h2 class="govuk-heading-m">
          Collaborate, share and work in the open
        </h2>
        <p class="govuk-body">
          We facilitate discussion and collaboration to bring understanding to teams. 
        </p>
        <p class="govuk-body">
          We actively involve team members and stakeholders in the design process so we can get to meaningful solutions more quickly. This builds understanding and a sense of shared ownership.
        </p>
        <p class="govuk-body">
          Seeking feedback early and often helps identify any potential issues in a design quickly. It also helps spot opportunities for re-use.
        </p>
        <p class="govuk-body">
          Designers must:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be highly collaborative, and bring others on the journey</li>
          <li>share work regularly</li>
          <li>use common tools, processes and patterns</li>
          <li>share successes and lessons we've learnt</li>
        </ul>

        <h2 class="govuk-heading-m">
          Re-use components, patterns and insight
        </h2>
        <p class="govuk-body">
          Re-use builds on expertise and insight from other teams, helping DWP Digital deliver better products and services to users with greater efficiently.
        </p>
        <p class="govuk-body">
          Designers must:
        </p>  
      <ul class="govuk-list govuk-list--bullet">
          <li>re-use existing components and patterns where appropriate</li>
          <li>support the creation and improvement of patterns</li>
          <li>document design decisions referencing user research and data insights</li>
          <li>contribute to the DWP Design Research Library</li>
        </ul>

        <h2 class="govuk-heading-m">
          Contribute to the community
        </h2>
        <p class="govuk-body">
          We pride ourselves on being a highly supportive and inclusive community. We make ourselves available and support each other.
        </p>  
        <p class="govuk-body">
          Designers must:
        </p>  
        <ul class="govuk-list govuk-list--bullet">
          <li>attend and contribute to community meetings</li>
          <li>be open, share what works and what doesn’t</li>
          <li>communicate using plain inclusive language avoiding jargon</li>
          <li>suggest improvements to the community and practice</li>
          <li>set development goals and work to develop our skills</li>
        </ul>

          <h2 class="govuk-heading-m">
            Act as an ambassador for interaction design in DWP and government
          </h2>
          <p class="govuk-body">
            We are representatives of the Interaction Design practice and the user centred design discipline in DWP and government.</p>
          <p class="govuk-body">
            Designers must:
          </p>  
          <ul class="govuk-list govuk-list--bullet">
            <li>aid understanding of interaction and user centred design</li>
            <li>advocate the benefits of working in a user centred way</li>
            <li>ensure the voice of the user is present in design decisions</li>
          <ul>
  
      </div>

    </div>

  </main>
{% endblock %}
