{% extends "dwp-layout-big-bar.html" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">Interaction Design in DWP</h1>
  <p class="big-bar__description">
Interaction Designers create whole user journeys and individual interactions, making sure products and services are accessible and can be used by everyone who needs them.
</p>
{% endblock %}

{% block content %}
<main id="content" role="main">
  {{ card({
    cards: [
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "../design-patterns",
        "openInNewTab": false,
        "heading": "Design patterns and components",
        "meta": "How we use existing design, research and data to design our products and services."
      
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "expectations",
        "openInNewTab": false,
        "heading": "Expectations for designers",
        "meta": "What we expect from interaction designers at DWP."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "../skills",
        "openInNewTab": false,
        "heading": "Interaction design skills",
        "meta": " The skills you need to be an interaction designer at DWP."
      
      }
    ]
  }) }}
</main>
{% endblock %}