{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Expectations for Interaction Designers - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Expectations for Interaction Designers in DWP</h1>
  <p class="big-bar__description">Intro</p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
      
        <h2 class="govuk-heading-m">
          Consider the bigger picture
        </h2>
        <p class="govuk-body">
          First and foremost, interaction designers are problem solvers. We think about problems first and actively encourage those around us to do the same.
        </p>
        <p class="govuk-body">
          Interaction designers must:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make design decisions based on data and research</li>
          <li>design out unnecessary interactions</li>
          <li>design user journeys, not just screens</li>
          <li>be curious and always consider different options</li>
          <li>be able to take themselves out of solutions</li>
          <li>design for all users regardless of ability or technology</li>
          <li>positively challenge and ask why</li>
        </ul>

        <h2 class="govuk-heading-m">
          Collaborate, share and work in the open
        </h2>
        <p class="govuk-body">
          We facilitate discussion and help to bring understanding to teams by actively involving team members and stakeholders in the design process. 
        </p>
        <p class="govuk-body">
          Involving others in the design process means you can get to meaningful solutions more quickly. It helps other people to feel part of the solution, builds understanding, buy in, and a sense of shared ownership. It reduces the need to explain design decisions later and makes the voice of design stronger.
        </p>
        <p class="govuk-body">
          Seeking feedback early and often helps identify any potential issues in a design quickly. It also helps spot opportunities for re-use.
        </p>
        <p class="govuk-body">
          Interaction designers must:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be highly collaborative, and encourage others to be</li>
          <li>use common tools, processes and patterns</li>
          <li>share your work constantly</li>
          <li>share successes and lessons we've learnt</li>

        </ul>

        <h2 class="govuk-heading-m">
          Actively encourage re-use
        </h2>
        <p class="govuk-body">
          Re-using common patterns, existing design, research and data means we can bring value by saving money and getting our products and services in the hands of users more quickly.
        </p>
        <p class="govuk-body">
          Interaction designers must:
        </p>  
      <ul class="govuk-list govuk-list--bullet">
          <li>re-use existing work whenever possible</li>
          <li>document your design decisions using the DWP Design Research Library</li>
          <li>support the creation and improvement of patterns</li>
        </ul>

          <h2 class="govuk-heading-m">
            Act as an ambassador for interaction design in DWP and government
          </h2>
          <p class="govuk-body">
            We pride ourselves on being a highly supportive and inclusive community. To maintain this we all must make ourselves available to offer support to each other.
          </p>
          <p class="govuk-body">
            Interaction designers must:
          </p>  
          <ul class="govuk-list govuk-list--bullet">
            <li>be open</li>
            <li>avoid jargon</li>
            <li>be inclusive</li>
            <li>support the community, attend community meetings, contribute to the interaction desuign slack channel</li>
            <li>suggest improvements</li>
            <li>build positive relationships</li>
            <li>set development goals and work to develop your skills</li>
          <ul>
  
      </div>

    </div>

  </main>
{% endblock %}
