{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Service Design in DWP</h1>
  <p class="big-bar__description">Intro</p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
      
        <ul class="govuk-list">
          <li><a href="expectations">Expectations</a></li>
          <li><a href="../skills">Skills</a> </li>
          <li><a href="../design-patterns">Design patterns and components</a></li>
        </ul>
        
      </div>

    </div>

  </main>
{% endblock %}
