{% extends "dwp-layout-big-bar.html" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Service Design in DWP</h1>
  <p class="big-bar__description">Service designers design the end-to-end journey of a service. This helps a user complete their goal and government deliver a policy intent. In this role, your work may involve the creation of, or change to, transactions, products and content across both digital and offline channels provided by different parts of government.</p>
{% endblock %}


{% block content %}
<main id="content" role="main">
  {{ card({
    cards: [
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "../design-patterns",
        "openInNewTab": false,
        "heading": "Design patterns and components",
        "meta": "How we use existing design, research and data to design our products and services."
      
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "expectations",
        "openInNewTab": false,
        "heading": "Expectations for designers",
        "meta": "What we expect from interaction designers at DWP."
      }
    ]
  }) }}
</main>
{% endblock %}