{% extends "sd-layout-big-bar.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}


{% block page_title %}
  Service Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}


{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

      <nav class="dwp-side-navigation">
        <ul class="dwp-side-navigation__list">
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link"href="#what-is-a-service"  data-section="what-is-a-service">
              What is a service?
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#what-is-service-design"  data-section="what-is-service-design">
              What is service design?
            </a>
          </li>
      
       
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#what-do-service-designers-do" data-section="what-do-service-designers-do">
              What do service designers do?
            </a>
          </li>
      
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <div id="what-is-a-service" class="content-section">
        {% include "./content/what-is-a-service.html" %}
      </div>
      <div id="what-is-service-design" class="content-section" hidden>
        {% include "./content/what-is-service-design.html" %}
      </div>

      <div id="expectations" class="content-section" hidden>
        {% include "./content/what-is-service-design.html" %}
      </div>

      <div id="what-do-service-designers-do" class="content-section" hidden>
        {% include "./content/what-do-service-designers-do.html" %}
      </div>
      
      
      
      
    </div>
  </div>
</main>


<script>
  window.addEventListener('load', function() {
      const links = document.querySelectorAll('.dwp-side-navigation__link');
      
      // Function to initialize GOV.UK components
      function initGovukComponents(element) {
          if (window.GOVUKFrontend) {
              // Initialize all GOV.UK components in the section
              window.GOVUKFrontend.initAll({
                  scope: element
              });
              
              // Specifically initialize tabs
              const tabs = element.querySelectorAll('[data-module="govuk-tabs"]');
              tabs.forEach(tab => {
                  new window.GOVUKFrontend.Tabs(tab).init();
              });
          }
      }
  
      // Initialize components in the first visible section
      const firstSection = document.querySelector('.content-section:not([hidden])');
      if (firstSection) {
          initGovukComponents(firstSection);
      }
      
      links.forEach(link => {
          link.addEventListener('click', function(e) {
              e.preventDefault();
              
              // Get the section ID from data attribute
              const sectionId = this.getAttribute('data-section');
              
              // Hide all sections
              document.querySelectorAll('.content-section').forEach(section => {
                  section.hidden = true;
              });
              
              // Show the target section
              const targetSection = document.getElementById(sectionId);
              if (targetSection) {
                  targetSection.hidden = false;
                  // Initialize components in the newly shown section
                  initGovukComponents(targetSection);
              }
              
              // Update active state
              links.forEach(l => l.classList.remove('dwp-side-navigation__link--active'));
              this.classList.add('dwp-side-navigation__link--active');
          });
      });
      
      // Set first link as active by default
      const firstLink = document.querySelector('.dwp-side-navigation__link');
      if (firstLink) {
          firstLink.classList.add('dwp-side-navigation__link--active');
      }
  });
  </script>
  
{% endblock %}