<nav class="dwp-service-nav">
  <div class="govuk-width-container">
    <ul class="dwp-service-nav__list">
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="/interaction-design">Interaction Design</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="/service-design">Service Design</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="/content-design">Content Design</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="/principles">Principles</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="https://design-system.dwp.gov.uk/index">DWP Design System</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="https://accessibility-manual.dwp.gov.uk">DWP Accessibility Manual</a>
      </li>
    </ul>
  </div>
</nav> 