<nav class="dwp-service-nav">
  <div class="govuk-width-container">
    <ul class="dwp-service-nav__list">
    
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="ucd-roles">UCD Practitioners
        </a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="standards">UCD Standards</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="https://design-system.dwp.gov.uk/index">DWP Design System</a>
      </li>
      <li class="dwp-service-nav__item">
        <a class="dwp-service-nav__link" href="https://accessibility-manual.dwp.gov.uk">DWP Accessibility Manual</a>
      </li>
    </ul>
  </div>
</nav> 