{% extends "skills-layout.html" %}

{% set pagename = "Collaborating with other roles" %}
{% block pageTitle %}
  {{pagename}} resources
{% endblock %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Learn more about {{pagename | lower}}</h1>
  {% include "../resource_statement.njk" %}
{% endblock %}

{% block skillcontent %}
  {# <h2 class="govuk-heading-m">Blogs, articles and online content</h2>
  <ul class="govuk-list govuk-list--bullet resource govuk-list--spaced">
    <li>
      <span><a href="https://uxdesign.cc/how-to-do-paper-prototyping-719173215a7e">How to do paper prototyping, the UX tool you may be missing</a></span>
      <span>By Patrick Thornton (2019)</span>
    </li>
    <li>
      <span><a href="https://www.w3schools.com/html/default.asp">W3C schools.com</a></span>
      <span>Free HTML and CSS reference and tutorials.</span>
    </li>
  </ul> 
 #}
  <h2 class="govuk-heading-m">From GOV.UK</h2>
  <ul class="govuk-list govuk-list--bullet resource govuk-list--spaced">
    <li>
      <span><a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework">Digital, Data and Technology Profession Capability Framework</a></span>
      <span>Find out about the responsibilities of multi-disciplinary team members.</span>
    </li>
  </ul> 

{% endblock %}

{% block related_content %} 
  {% include "../resources_menu.njk" %}
{% endblock %}