{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Content design community - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">Content design community</h1>
  <p class="big-bar__description"></p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          DWP content design community on Slack
        </h2>
        <p class="govuk-body">
          Slack is used in the design community to chat, collaborate and share.</p>

<p class="govuk-body">It may already be installed on your Mac or it’s available in the ‘Collaboration’ section in the Self Service application.

<p class="govuk-body">You may also want to download Slack to your personal mobile device (but there’s no obligation to).

  <h3 class="govuk-heading-s">
    Slack etiquette
  </h3>
<p class="govuk-body">Slack is not an alternative to email - not all members of staff across DWP have access to Slack. You should think about your audience when deciding which communication tool to use.
</p>
<p class="govuk-body">If you want to discuss or share something with the design community Slack is usually the first choice.</p>

<p class="govuk-body">All digital communications that public servants use are subject to Freedom of information regulation. All messages, public, private, group and direct can be requested and released. Be mindful of what you say and share.
</p>

<h3 class="govuk-heading-s">
  Workspaces
</h3>
<p class="govuk-body">You will be invited to two workspaces in Slack:</p>

<ul class="govuk-list">
  <li>DWP - dwpdigital.slack</li>
<li>UK government - ukgovernmentdigital.slack</li>
</ul>

<h3 class="govuk-heading-s">
  Channels
</h3>
<p class="govuk-body">Each workspace is divided into channels set up around different themes.</p>

<p class="govuk-body">The main channel you will use is #content-design in the DWP workspace. We’ll invite you and introduce you to the community.</p>

<p class="govuk-body">Use this channel to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ask content design questions</li>
<li>share work for feedback</li>
<li>help others with their content design problems</li>
</ul>

<p class="govuk-body">This means all content designers can see and take part in conversations about each others work.

<p class="govuk-body">The senior designer in your area will invite you to the relevant channels you need for the service you’re working on.


<h2 class="govuk-heading-m">
  Content design community meetings
</h2>

<p class="govuk-body">We’re a dispersed team, so we create a strong community by having regular meet-ups across the country.</p>

<p class="govuk-body">As part of your induction you will be invited to the community meetings relevant to you.</p>

<p class="govuk-body">All designers are expected to make a positive contribution to community meetings by:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>taking part</li>
    <li>sharing their work</li>
    <li>giving feedback on others’ work</li>
  </ul>

<p class="govuk-body">There are also plenty of other events related to content and user-centred design, organised by the government and others.</p>

<p class="govuk-body">Ask other content designers in your regional team what’s going on.</p>

<h3 class="govuk-heading-s">
  Content design community days
</h3>

<p class="govuk-body">All our content designers meet up together every 3 months.</p>

<p class="govuk-body">Less frequently, we hold meet-ups where people with a wider affiliation to content creation come along, too.</p>

<p class="govuk-body">At the moment these events are being hosted online, but we hope to do them face to face again soon.</p>

<p class="govuk-body">At both of these types of get-togethers, people:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>give presentations on work they’ve been doing</li>
  <li>listen to guest speakers</li>
  <li>try to address content issues collectively – brainstorming user needs for a single DWP style guide, for example</li>
</ul>


<h3 class="govuk-heading-s">
  Content design show and tells
</h3>

<p class="govuk-body">We meet every 2 weeks to see what some of our colleagues have been working on recently.</p>

<p class="govuk-body">To get added to the invitation, send an email to content.design@engineering.digital.dwp.gov.uk</p>


<h2 class="govuk-heading-m">
  Government content design community on Basecamp
</h2>
  <p class="govuk-body">Basecamp is used by people in the wider government content community to get help and support and talk about what they’re working on.</p>

  <p class="govuk-body">Ask another content designer to add you to Basecamp groups or email gov.uk-training@digital.cabinet-office.gov.uk.</p>

  <p class="govuk-body">Among other groups, consider joining:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Government content community</li>
    <li>Content design for services</li>
    </ul>





      </div>

    </div>

  </main>
{% endblock %}
