{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  How to 2i content - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">How to 2i content</h1>
  <p class="big-bar__description"></p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">


        <p class="govuk-body">If you're 2i'ing someone's content, check whether it:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>is in style (using the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a> and the <a href="https://intranet.dwp.gov.uk/section/communications/communication-standards/written-standards/style-guide">DWP style guide</a> for more specific usages)</li>
        <li>has any typos or grammatical or other errors</li>
        <li>meets the stated user need</li>
        </ul>

        <p class="govuk-body">For any content needing a sizeable number of edits, you may need to look at it again after the originator of the task has taken your first round of edits in. Please look at any content of any length on paper.</p>
        <p class="govuk-body">Be rigorous but gentle. Edit someone's content in the way you'd like your own content to be edited.

        <h2 class="govuk-heading-m">What content needs to be 2i'd?</h2>

        <p class="govuk-body">As a rule, any content you produce should get a second look before it appears before its intended audience: whether that's the public or staff and whether it's going live or being used first in user testing.</p>
        <p class="govuk-body">Exceptions would be correcting typos and making other very minor changes to existing content.</p>
        <p class="govuk-body">Have content 2i'd when you feel you've done all you can to it and as soon as possible before it will appear before its audience.</p>
        <p class="govuk-body">You don't have to 2i content in other circumstances but it won't hurt.</p>

        <h2 class="govuk-heading-m">Difference between 2i and a crit</h2>
        <p class="govuk-body">A crit at once scrutinises content more closely than a 2i does and is likely to miss things a 2i should pick up. Again, 2i'ing is mainly a pre-publishing check for style and errors and against user needs.</p>


      </div>

    </div>

  </main>
{% endblock %}
