{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Content Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">Content Design in DWP</h1>
  <p class="big-bar__description">We create clear content which helps users to find, understand and complete their goal with the minimum of time, stress and effort.</p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <ul class="govuk-list">
          <li><a href="what-content-designers-do">What content designers do in DWP</a></li>
          <li><a href="expectations">Expectations for content designers in DWP</a> </li>
          <li><a href="../design-patterns">Design patterns and components</a></li>
          <li><a href="style-guides-and-content-patterns">Style guides and content patterns</a></li>
          <li><a href="content-design-community">Content design community</a></li>
          <li><a href="reviewing-our-work">Reviewing our work</a></li>
          <li><a href="designing-notifications">Designing notifications</a></li>
          <li><a href="measuring-success">Measuring success</a></li>
        </ul>

      </div>

    </div>

  </main>
{% endblock %}
