{% extends "dwp-layout-big-bar.html" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block page_title %}
  Content Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">Content Design in DWP</h1>
  <p class="big-bar__description">We create clear content which helps users to find, understand and complete their goal with the minimum of time, stress and effort.</p>
{% endblock %}



{% block content %}
<main id="content" role="main">
  {{ card({
    cards: [
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "what-content-designers-do",
        "openInNewTab": false,
        "heading": "What content designers do in DWP",
        "meta": "Our mission, the problem we're here to solve and how we will do it."
      
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "expectations",
        "openInNewTab": false,
        "heading": "Expectations for content designers in DWP",
        "meta": "How we're expected to work at each service development phase, and who we work with."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "../design-patterns",
        "openInNewTab": false,
        "heading": "Design patterns and components",
        "meta": "How we use existing design, research and data to design our products and services."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "style-guides-and-content-patterns",
        "openInNewTab": false,
        "heading": "Style guides and content patterns",
        "meta": "The content patterns, style guides and other style resources we use as content designers in DWP"
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "content-design-community",
        "openInNewTab": false,
        "heading": "Content design community",
        "meta": "DWP content design communities and communication channels."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "reviewing-our-work",
        "openInNewTab": false,
        "heading": "Reviewing our work",
        "meta": "Tools and advice on how to get your work reviewed and how to review other people's work."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "designing-notifications",
        "openInNewTab": false,
        "heading": "Designing notifications",
        "meta": "Guidance on how to design notifications effectively."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "measuring-success",
        "openInNewTab": false,
        "heading": "Measuring success",
        "meta": "Useful ways to measure the success of your content."
      
      }
    ]
  }) }}
</main>
{% endblock %}