{% extends "cd-layout-big-bar.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}

{% block page_title %}
  Content Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}


{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

      <nav class="dwp-side-navigation">
        <ul class="dwp-side-navigation__list">
         
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#expectations" data-section="expectations">Expectations for content designers</a>
          </li>
       
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#style-guides" data-section="style-guides">Style guides and content patterns</a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#community" data-section="community">Content design community</a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#reviewing" data-section="reviewing">Reviewing our work</a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#notifications" data-section="notifications">Designing notifications</a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#measuring" data-section="measuring">Measuring success</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-two-thirds">
   
      <div id="expectations" class="content-section">
        {% include "./content/expectations.html" %}
      </div>


      <div id="style-guides" class="content-section" hidden>
        {% include "./content/style-guides.html" %}
      </div>

      <div id="community" class="content-section" hidden>
        {% include "./content/community.html" %}
      </div>

      <div id="reviewing" class="content-section" hidden>
        {% include "./content/reviewing.html" %}
      </div>

      <div id="notifications" class="content-section" hidden>
        {% include "./content/notifications.html" %}
      </div>

      <div id="measuring" class="content-section" hidden>
        {% include "./content/measuring.html" %}
      </div>
    </div>
  </div>
</main>

<style>
.content-section[hidden] {
  display: none !important;
}
.dwp-side-navigation__link--active {
  font-weight: bold;
  text-decoration: none;
}
</style>

<script>
window.addEventListener('load', function() {
    const links = document.querySelectorAll('.dwp-side-navigation__link');
    
    // Function to initialize GOV.UK components
    function initGovukComponents(element) {
        if (window.GOVUKFrontend) {
            // Initialize all GOV.UK components in the section
            window.GOVUKFrontend.initAll({
                scope: element
            });
            
            // Specifically initialize tabs
            const tabs = element.querySelectorAll('[data-module="govuk-tabs"]');
            tabs.forEach(tab => {
                new window.GOVUKFrontend.Tabs(tab).init();
            });
        }
    }

    // Initialize components in the first visible section
    const firstSection = document.querySelector('.content-section:not([hidden])');
    if (firstSection) {
        initGovukComponents(firstSection);
    }
    
    links.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            
            // Get the section ID from data attribute
            const sectionId = this.getAttribute('data-section');
            
            // Hide all sections
            document.querySelectorAll('.content-section').forEach(section => {
                section.hidden = true;
            });
            
            // Show the target section
            const targetSection = document.getElementById(sectionId);
            if (targetSection) {
                targetSection.hidden = false;
                // Initialize components in the newly shown section
                initGovukComponents(targetSection);
            }
            
            // Update active state
            links.forEach(l => l.classList.remove('dwp-side-navigation__link--active'));
            this.classList.add('dwp-side-navigation__link--active');
        });
    });
    
    // Set first link as active by default
    const firstLink = document.querySelector('.dwp-side-navigation__link');
    if (firstLink) {
        firstLink.classList.add('dwp-side-navigation__link--active');
    }
});
</script>

{% endblock %}