{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  What content designers do in DWP - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">What content designers do in DWP</h1>
  <p class="big-bar__description">Our mission, the problem we're here to solve and how we will do it.</p>
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Our mission
        </h2>
        <p class="govuk-body">
          Create clear content which helps users to find, understand and complete their goal with the minimum of time, stress and effort.</p>

        <h2 class="govuk-heading-m">
          The problem we're here to solve
        </h2>
        <p class="govuk-body">
          DWP creates content for internal and external users. For both groups, our content can be difficult to find, understand and use. This is because it’s not always designed specifically to meet their needs.</p>

<p class="govuk-body">
This has a negative impact on people’s wellbeing and society as a whole. And it costs DWP and the wider economy money.</p>

<p class="govuk-body">There’s an opportunity to address this by designing content that enables:

  <ul class="govuk-list govuk-list--bullet">
    <li>people to easily complete a task or find information for themselves wherever appropriate</li>
    <li>DWP’s staff to provide effective support to people who need it</li>
  </ul>
</p>
        <h2 class="govuk-heading-m">
          What we do
        </h2>
        <p class="govuk-body">
          Some of the products and services we design are used by the public, some are used by staff from DWP and other Government departments.</p>

<p class="govuk-body">We build these products and services based on people’s needs.</p>

<p class="govuk-body">We use data and feedback to create content that makes people’s dealings with our part of the government as simple, quick and easy as possible.</p>

<p class="govuk-body">We don’t create all the content about DWP. The Government Digital Service (GDS) creates ‘mainstream’ content – information about government services that anyone in Britain might come to need.</p>

<p class="govuk-body">Examples are explanations of the State Pension or Universal Credit.</p>

<p class="govuk-body">We design the content for services that allow you, for example, to actually get your state Pension or apply for Universal Credit.</p>

<p class="govuk-body">Users start their journey on mainstream pages and continue through to services. They shouldn’t be able to tell the difference between the content on what are 2 parts of the same website – GOV.UK.</p>

<p class="govuk-body">DWP's GOV.UK team creates more specific information content for GOV.UK. This is a multidisciplinary team made up of content designers and other roles.</p>


          <h2 class="govuk-heading-m">
            Why we do it
          </h2>
          <p class="govuk-body">
            We support some of the most vulnerable people in society.</p>

<p class="govuk-body">We design content to be as accessible as possible to everyone.</p>

<p class="govuk-body">We have a related aim of promoting digital use of government services to save time and money for users and for us.</p>

      </div>

    </div>

  </main>
{% endblock %}
