{% extends "intro-layout-big-bar.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}


{% block page_title %}
  Service Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}


{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="javascript:void(0)" onclick="history.back()" class="govuk-back-link">Back</a>

    <nav class="dwp-side-navigation" aria-label="Page navigation">
    <ul class="dwp-side-navigation__list">
      <li class="dwp-side-navigation__item">
      <a class="dwp-side-navigation__link" href="#what-do-service-designers-do" data-section="what-do-service-designers-do">What do Service Designers do?</a>
      </li>
      <li class="dwp-side-navigation__item"></li>
      <a class="dwp-side-navigation__link" href="#strategic-level-service-design" data-section="strategic-level-service-design">Strategic level Service Design</a>
      </li>
      <li class="dwp-side-navigation__item">
      <a class="dwp-side-navigation__link" href="#service-level-service-design" data-section="service-level-service-design">Service Level Service Design</a>
      </li>

    </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-two-thirds">
 
      <div id="what-do-service-designers-do" class="content-section">
        <h2 class="govuk-heading-l">What do Service Designers do?</h2>
        <p class="govuk-body">One of the challenges people face when trying to understand what Service Designers do, is that the life of a
             Service Designer can vary significantly day-to-day.</p>
        <p class="govuk-body">The activities they undertake can be affected by a number of factors, including: whether a service is new or existing; what 
            stage of the delivery lifecycle a team is in; and where in the organisation
             a Service Designer is sitting. Nonetheless, whilst there can be large variation,
              we can broadly split the ‘role’ of a Service Designer into two broad camps: Strategic Level Service Design and Service Level Service Design.</p>
              </div>

      <div id="strategic-level-service-design" class="content-section" hidden>
        <h2 class="govuk-heading-l">Strategic level Service Design</h2>
        <p class="govuk-body">When we talk about ‘Strategic-level Service Designers’, we are typically referring to Service Designers that sit outside of a single Service. The responsibility 
            of this type of Service Designer is to look across a whole organisation, its entire user base, and all of its services, to understand how these all 
            fit together at the highest level of abstraction.</p>
        

        <h3 class="govuk-heading-m"> Defining the list of services that an organisation provides</h3>   
<p class="govuk-body">
Strategic-led Service Designers will work to understand all of the different user needs and journeys 
that exist across an organisation’s user base. They will then map these from the user’s point of view 
into a logical group of services.
This work provides the foundation for how organisations think about how their users interact with 
them. At DWP, we are currently undertaking an activity to do just that.</p>
<h4 class="govuk-heading-m">Assessing an organisation’s structure</h4>
<p class="govuk-body">Based on the findings of service mapping activities, Strategic-led Service Designers will look to identify
    areas where the experience of end-users could be improved, and then collaborate with teams to understand how to re-shape 
    the organisation to deliver those improvements. These activities also drive organisational efficiency by reducing failure 
    and duplication of activities.</p>
<h4 class="govuk-heading-m">Identifying common user journeys</h4>
<p class="govuk-body">
Strategic-led Service Designers will also look across different services to identify where there are common stages of a users
 journey that are repeated across multiple services. For example, all services may have an ‘apply’ stage or
  an ‘input information’ stage. Here, Service Designers will work with teams across the organisation to try and 
  standardise these common stages to create consistent user experience and streamline the organisation. 
  
   <h4 class="govuk-heading-m">Coordinating between teams and business areas</h4>
<p class="govuk-body">
More generally, Strategic-led Service Designers will also work to connect people, teams and business areas to make sure they 
are communicating and aligned. By acting as a conduit between multiple areas, Service Designers are able to bring teams together
 to co-create on new ideas, highlight any areas of misalignment, and avoid any duplication of effort.
Within DWP, these types of Service Designers will typically work most closely with teams such as:
<ul class="govuk-list govuk-list--bullet"> 
  <li>Business Strategy</li>
  <li>Customer Experience</li>
  <li>Service Transformation</li>
</ul>
</p>
</div>

      <div id="service-level-service-design" class="content-section" hidden>
      <h2 class="govuk-heading-l">Service-level Service Design</h2>
<p class="govuk-body">
When we talk about ‘Service-level Service Designers’, we are typically referring to Service Designers
 that are aligned to a single service. 
This does not mean that this type of Service Designers is not thinking strategically, nor that they 
will only look within that service. However, this will be predominantly
within the context of their Service. Here, a Service Designer will be working on activities such as:</p>
<h4 class="govuk-heading-m">Working to understand how a given service works for customers, colleagues and the organisation</h4>
<p class="govuk-body">
One of the main responsibilities of a Service-led Service Designer is to develop a deep understanding of the
 ‘as-is’ state of a service. This means understanding:</p>
 <ul class="govuk-list govuk-list--bullet">
<li>the end-to-end: from when the user starts trying to achieve a goal to when they finish</li>
<li>The front to back: connecting the citizen-facing service; internal services, systems and processes; supporting
 policy or legislation; and organisational, financial and governance structures</li>
<li>Every channel: including online, phone, paper and face-to-face</li>
</ul>
<p class="govuk-body">To do this, they will undertake activities such as:</p>
<ul class="govuk-list govuk-list--bullet">
   <li>running workshops with different teams within the service to understand their stage of the journey</li>
   <li>commissioning user research to understand the citizen’s experience and pain points</li>
   <li>producing a service blueprint to visually articulate how a citizen’s journey is provisioned by the organisation</li>
</ul>
<h4 class="govuk-heading-m">Envisioning a future state of the service</h4>
<p class="govuk-body">Once a Service-led Service Designer has developed a deep understanding of the ‘as-is’ state of a service, 
   their their next responsibility is to work across teams to envision a better ‘to-be’ state. This means defining how the service 
   will work in the future; end-to-end, front-to-back and across every channel (not just digital).</p>
<p class="govuk-body">To do this, Service-led Service Designers will undertake activities such as: 
<ul class="govuk-list--bullet">
   <li>facilitating multi-disciplinary teams to work through pain points and opportunity areas of the as-is blueprint</li>
   <li> working across teams to understand constraints that may affect the ability to implement certain improvements</li>
   <li>creating a ‘to-be’ service blueprint to visually articulate how the future state of a service may work</li>
   <li>socialising the future state vision with key stakeholders</li>
</ul>
</p>
<h5 class="govuk-heading-m">Coordinating and collaborating between teams and business areas</h5>
<p class="govuk-body">Like Strategic-level Service Designers, Service-level Service Designers will also work to connect people, teams and
 business areas to make sure they are communicating and aligned. They will do this both at the individual service level
  (to ensure that teams working on the same service are talking), as well as across multiple services.
Within DWP, these types of Service Designers will typically work within multi-disciplinary teams across Digital, 
whilst also collaborating with colleagues across Service Transformation.</p>


      </div>
  </div>
  </div>
  </main>
  <style>
    .content-section[hidden] {
      display: none !important;
    }
    .dwp-side-navigation__link--active {
      font-weight: bold;
      text-decoration: none;
    }
    </style>
    
    <script>
    window.addEventListener('load', function() {
        const links = document.querySelectorAll('.dwp-side-navigation__link');
        
        // Function to initialize GOV.UK components
        function initGovukComponents(element) {
            if (window.GOVUKFrontend) {
                // Initialize all GOV.UK components in the section
                window.GOVUKFrontend.initAll({
                    scope: element
                });
                
                // Specifically initialize tabs
                const tabs = element.querySelectorAll('[data-module="govuk-tabs"]');
                tabs.forEach(tab => {
                    new window.GOVUKFrontend.Tabs(tab).init();
                });
            }
        }
    
        // Initialize components in the first visible section
        const firstSection = document.querySelector('.content-section:not([hidden])');
        if (firstSection) {
            initGovukComponents(firstSection);
        }
        
        links.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                
                // Get the section ID from data attribute
                const sectionId = this.getAttribute('data-section');
                
                // Hide all sections
                document.querySelectorAll('.content-section').forEach(section => {
                    section.hidden = true;
                });
                
                // Show the target section
                const targetSection = document.getElementById(sectionId);
                if (targetSection) {
                    targetSection.hidden = false;
                    // Initialize components in the newly shown section
                    initGovukComponents(targetSection);
                }
                
                // Update active state
                links.forEach(l => l.classList.remove('dwp-side-navigation__link--active'));
                this.classList.add('dwp-side-navigation__link--active');
            });
        });
        
        // Set first link as active by default
        const firstLink = document.querySelector('.dwp-side-navigation__link');
        if (firstLink) {
            firstLink.classList.add('dwp-side-navigation__link--active');
        }
    });
    </script>
    
{% endblock %}
