{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Skills - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
 <h1 class="govuk-heading-xl no-margin">Skills for interaction designers</h1>
 <p class="big-bar__description">The skills we use to design our products and services.</p>
{% endblock %}

{% block content %}
 <main id="content" role="main">

 <div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

 <p class="govuk-body">
            We group the skills used by our designers into nine categories:
 </p>

 <ul class="govuk-list govuk-list--bullet">
 <li><a href="/skills/user-focus/overview">User focus</a></li>
 <li><a href="/skills/evidence-based-design/overview">Evidence and context-based design</a></li>
 <li><a href="/skills/prototyping/overview">Prototyping</a></li>
 <li><a href="/skills/communication/overview">Communication skills</a></li>
 <li><a href="/skills/constraints/overview">Working within constraints</a></li>
 <li><a href="/skills/collaborating-with-other-roles/overview">Collaborating with other roles</a></li>
 <li><a href="/skills/community-collaboration/overview">Community collaboration</a></li>
 <li><a href="/skills/strategic-design/overview">Strategic design thinking</a></li>
 <li><a href="/skills/leadership-and-guidance/overview">Leadership and guidance</a></li>
 </ul>

 </div>

 </div>

 </main>
{% endblock %}

