{% extends "interaction-layout-big-bar.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}


{% block page_title %}
  Interaction Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

      <nav class="dwp-side-navigation">
        <ul class="dwp-side-navigation__list">
       
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#expectations" data-section="expectations">
              Expectations for interaction designers
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="design-clinics" data-section="design-clinics">
              Design clinics
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#prototyping"  data-section="prototyping">
              Prototyping
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#tools" data-section="tools">
              Tools
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#community" data-section="community">
              Community
            </a>
          </li>
   

          <li class="dwp-side-navigation__item">
            <a class="dwp-side-navigation__link" href="#definition-of-done" data-section="definition-of-done">
                  Definition of done
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#measures-of-success" data-section="measures-of-success">
                  Measures of success
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#documenting-design-debt" data-section="documenting-design-debt">
                  Documenting design debt
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#giving-receiving-feedback" data-section="giving-receiving-feedback">
                  Giving and receiving feedback
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#documenting-design-decisions" data-section="documenting-design-decisions">
                  Documenting design decisions
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#working-with-performance-analysts" data-section="working-with-performance-analysts">
                  Working with performance analysts
                </a>
              </li>
              <li class="dwp-side-navigation__item">
                <a class="dwp-side-navigation__link" href="#working-with-sd" data-section="working-with-sd">
                  Working with service designers
                </a>
              </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <div id="community" class="content-section" hidden>
        {% include "./content/community.html" %}
      </div>

      <div id="expectations" class="content-section">
        {% include "./content/expectations.html" %}
      </div>

      <div id="design-clinics" class="content-section" hidden>
        {% include "./content/design-clinics.html" %}
      </div>

      <div id="prototyping" class="content-section" hidden>
        {% include "./content/prototyping.html" %}
      </div>

      <div id="tools" class="content-section" hidden>
        {% include "./content/tools.html" %}
      </div>

 

      <div id="definition-of-done" class="content-section" hidden>
        {% include "./content/definition-of-done.html" %}
      </div>

      <div id="measures-of-success" class="content-section" hidden>
        {% include "./content/measures-of-success.html" %}
      </div>

      <div id="documenting-design-debt" class="content-section" hidden>
        {% include "./content/documenting-design-debt.html" %}
      </div>

      <div id="working-with-performance-analysts" class="content-section" hidden>
        {% include "./content/working-with-performance-analysts.html" %}
      </div>

      <div id="giving-receiving-feedback" class="content-section" hidden>
        {% include "./content/giving-receiving-feedback.html" %}
      </div>

      <div id="documenting-design-decisions" class="content-section" hidden>
        {% include "./content/documenting-design-decisions.html" %}
      </div>

      <div id="working-with-sd" class="content-section" hidden>
        {% include "./content/working-with-sd.html" %}
      </div>
      

     
      
      
      
      
    </div>
  </div>
</main>



<script>
window.addEventListener('load', function() {
    const links = document.querySelectorAll('.dwp-side-navigation__link');
    
    // Function to initialize GOV.UK components
    function initGovukComponents(element) {
        if (window.GOVUKFrontend) {
            // Initialize all GOV.UK components in the section
            window.GOVUKFrontend.initAll({
                scope: element
            });
            
            // Specifically initialize tabs
            const tabs = element.querySelectorAll('[data-module="govuk-tabs"]');
            tabs.forEach(tab => {
                new window.GOVUKFrontend.Tabs(tab).init();
            });
        }
    }

    // Initialize components in the first visible section
    const firstSection = document.querySelector('.content-section:not([hidden])');
    if (firstSection) {
        initGovukComponents(firstSection);
    }
    
    links.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            
            // Get the section ID from data attribute
            const sectionId = this.getAttribute('data-section');
            
            // Hide all sections
            document.querySelectorAll('.content-section').forEach(section => {
                section.hidden = true;
            });
            
            // Show the target section
            const targetSection = document.getElementById(sectionId);
            if (targetSection) {
                targetSection.hidden = false;
                // Initialize components in the newly shown section
                initGovukComponents(targetSection);
            }
            
            // Update active state
            links.forEach(l => l.classList.remove('dwp-side-navigation__link--active'));
            this.classList.add('dwp-side-navigation__link--active');
        });
    });
    
    // Set first link as active by default
    const firstLink = document.querySelector('.dwp-side-navigation__link');
    if (firstLink) {
        firstLink.classList.add('dwp-side-navigation__link--active');
    }
});
</script>

<style>
.content-section[hidden] {
  display: none !important;
}
</style>
{% endblock %}