.big-bar {
  background-color: 	#634169;
  height: auto;
  width: 100%;
  color: white;
  h1, h2, p, a {
      color: white;
  }
  a:hover {
    color: black;
  }
  .govuk-grid-column-two-thirds:empty {
    color: red;
  }
}

.big-bar__wrapper {
  margin: 0 auto;
  padding: 5px 0 5px 0;
  p {
    margin-top: 1px;
  }
  &:empty {
    padding: 0;
  }
}

.big-bar__description {
  font-size: 24px;
  width: 80%;
  margin-bottom: 0;
  padding-top:0;
  a:hover { 
    color: white;
  }
  a:visited { 
    color: white;
  }
}