
{% extends "dwp-layout.html" %}

{% block pageTitle %}
Getting set up with the right tools to use the GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/prototype-kit-training" class="govuk-back-link">Prototype Kit Training home</a>
      <h1 class="govuk-heading-xl">
        1. Before you start
      </h1>
      
      <ul class="app-task-list__items govuk-!-padding-left-0">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/how-things-fit-together" aria-describedby="eligibility-status">
              How things fit together
            </a>
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="getting-set-up" aria-describedby="read-declaration-status">
              Getting set up with the right tools
            </a>
          </span>
          <!-- <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> -->
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="help" aria-describedby="read-declaration-status">
              Getting help and asking questions
            </a>
          </span>
          <!-- <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> -->
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
