
{% extends "dwp-layout.html" %}

{% block pageTitle %}
Getting set up with the right tools to use the GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/prototype-kit-training" class="govuk-back-link">Prototype Kit Training home</a>
      <h1 class="govuk-heading-xl">
        Feedback
      </h1>

      <p>Written and curated by Ben Fraser with help from the DWP design and dev communities.</p>

      <p>For feedback, comments or resource recommendations contact Jon Houghton, available via both the DWP and UK Government Slack workspaces.</p>

    </div>


  </div>

{% endblock %}
