
{% extends "dwp-layout.html" %}

{% block pageTitle %}
How things fit together
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/prototype-kit-training" class="govuk-back-link">Prototype Kit Training home</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Before you start</span>
        Getting help and asking questions
      </h1>
      <p>If you are need help or just want to ask a few questions about the GOV.UK Prototype Kit, there are some dedicated Slack channels:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>DWP Digital Slack: <a href="https://dwpdigital.slack.com/archives/CH8RMRVT6" target="_blank">#ucd-prototyping-kit channel</a></li>
        <li>UK Government Slack: <a href="https://ukgovernmentdigital.slack.com/archives/C0647LW4R" target="_blank">#prototype-kit</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <nav class="page-nav">
        <div><a href="html" class="page-nav__next">Next: <strong>HTML</strong></a></div>
        <div><a href="getting-set-up" class="page-nav__prev">Previous: <strong> Getting set up</strong></a></div>
      </nav>

    </div>


  </div>

{% endblock %}
