
{% extends "dwp-layout.html" %}

{% block pageTitle %}
  Training for designers using the Prototype Kit - DWP Digital User Centred Design Manual
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">Training for designers using the Prototype Kit</h1>
      <p>These free resources will give you a solid grasp of the web development skills needed to use the <a href="https://govuk-prototype-kit.herokuapp.com/" target="_blank">GOV.UK Prototype Kit</a> effectively.</p>
      <p>Use them in addition to the <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples" target="_blank">tutorials and examples</a> published on GOV.UK to get the most out of your prototypes.</p>

      <ol class="app-task-list">
        <li class="govuk-!-margin-bottom-0">
          <h2 class="app-task-list__section govuk-!-margin-bottom-2" id="before-you-start">
            <span class="app-task-list__section-number">1. </span> Before you start
          </h2>
          <ul class="app-task-list__items  govuk-!-margin-bottom-0">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/prototype-kit-training/about">
                  About the GOV.UK Prototype Kit
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/prototype-kit-training/how-things-fit-together">
                  How things fit together
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/prototype-kit-training/getting-set-up">
                  Getting set up with the right tools
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/prototype-kit-training/help">
                  Getting help and asking questions
                </a>
              </span>
            </li>
          </ul>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="html">2. </span> <a href="/prototype-kit-training/html">HTML</a>
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="css">3. </span> <a href="/prototype-kit-training/css">CSS</a>
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="js">4. </span> <a href="/prototype-kit-training/javascript">JavaScript</a>
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="js">5. </span> <a href="/prototype-kit-training/terminal">Terminal</a> 
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="js">6. </span> <a href="/prototype-kit-training/git">Git</a>
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="js">7. </span> <a href="/prototype-kit-training/nunjucks">Nunjucks</a> 
            </h2>
          </span>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number" id="js">8. </span> <a href="/prototype-kit-training/express">Express</a> 
            </h2>
          </span>
        </li>

      </ol>
      

      <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-padding-top-6" id="feedback">Feedback and recommendations</h2>
      <p>Feel free to <a href="/prototype-kit-training/feedback">feedback to us</a> with any comments or resource recommendations.</p>
    </div>


  </div>

{% endblock %}
