<h1 class="govuk-heading-l">
 Measures of success
</h1>

<p class="govuk-body">
Measures of success are how we validate we’re doing the right thing when we create or iterate design solutions.
</p>

<p class="govuk-body">
The measures of success are reflected in our definition of done and should be used alongside that artefact.
</p>
<h2 class="govuk-heading-m">Before you design</h2>
<h3 class="govuk-heading-s">Understand user needs</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>work with user research to test as-is journeys and identify pain points</li>
    <li>contribute to, observe, and analyse research with real users</li>
    <li>work with data science and analysts to identify and understand performance data</li>
    <li>articulate and record user needs and hypotheses, based on research and data</li>
</ul>
<h4 class="govuk-heading-s">Understand business requirements</h4>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>work with business analysts to understand business requirements and processes</li>
    <li>identify subject matter experts and collaborate with them to understand the domain</li>
    <li>articulate and record clear business problem statements</li>
</ul>
<h2 class="govuk-heading-m">While you design</h2>
<h3 class="govuk-heading-s">Reuse proven solutions, where appropriate</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>use patterns and components from the GOV.UK Design system and DWP Design system</li>
    <li>share problems with other UCD professionals to seek advice</li>
    <li>adhere to departmental content, interaction and research standards</li>
</ul>
<h3 class="govuk-heading-s">Consider the end-to-end</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>collaborate with other product teams in your area</li>
    <li>collaborate with non-digital stakeholders such as operation teams, policy and customer comms</li>
    <li>review the full journey - not just the part you’re currently working on</li>
</ul>
<h3 class="govuk-heading-s">Ensure design is accessible</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>test designs with accessibility technology and different devices</li>
    <li>follow GOV and DWP accessibility guidance</li>
    <li></li>collaborate with accessibility experts</li>
</ul>
<h3 class="govuk-heading-s">Research and iterate</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>contribute to UR discussion plans to gain insights about user understanding of your product</li>
    <li>refine and iterate design based on the outputs of research exercises</li>
    <li>evidence how design decisions are made based on user needs, research and business requirements</li>
</ul>
<h3 class="govuk-heading-s">Work collaboratively</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>share work in feedback sessions with your product team</li>
    <li>pair-write and co-design with colleagues and stakeholders</li>
    <li>work closely with your UCD colleagues and other specialists to consider the full picture</li>
</ul>
<h3 class="govuk-heading-s">Peer review</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>present work at community events and discussions</li>
    <li>participate in design and content crits with other designers</li>
    <li>invite peers to give a ‘second pair of eyes’ check</li>
</ul>
<h3 class="govuk-heading-s">Fact check</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>work with business analysts and subject experts to ensure evolving designs meet requirements</li>
    <li>collaborate with stakeholder experts to have design and content fact-checked</li>
</ul>
<h3 class="govuk-heading-m">When the design is live</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>understand your success metrics and hypotheses before your product or feature is made ‘live’</li>
    <li></li>review performance data at regular intervals</li>
    <li>where appropriate and possible, use live experimentation techniques such as A/B testing</li>
</ul>
<h3 class="govuk-heading-s">Collect and use feedback</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>collect user feedback in-product with feedback links and surveys</li>
    <li>work with call centres and agents to collect feedback from user contact</li>
    <li>build assurance periods into release plans to allow for rapid iteration based on feedback</li>
</ul>
<h3 class="govuk-heading-s">Regularly review</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li></li>schedule regular reviews of your design and content</li>
    <li>present designs in show and tells with stakeholders and digital colleagues</li>
    <li>include existing journeys when researching new features</li>
</ul>
<h3 class="govuk-heading-s">Document decisions and design debt</h3>
<p class="govuk-body">Ways to do this include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>document design decisions and the supporting evidence, such as:</li>
    <li>user needs</li>
    <li>business requirements</li>
    <li>research findings</li>
    <li>supporting data</li>
    <li>document when design was limited by technical or delivery restrictions, recording things like:</li>
    <li>what limitations you encountered that restricted your design decisions</li>
    <li>what further work needs to be done to validate or iterate the design</li>
    <li>the potential risks the limitations to design cause</li>
</ul>