
        <h1 class="govuk-heading-l">Working with Service Designers</h1>

        <h2 class="govuk-heading-m">How does the role of a Service Designer differ from the role of an Interaction Designer?</h2>
        <p class="govuk-body">The best way to articulate the difference between the two roles is that Service Designers are more focused on breadth, whilst Interaction Designers are more focused on detail - in other words, they have different levels of 'zoom'.</p>
        <p class="govuk-body">Whilst Interaction Designers will tend to look at a single journey or zoomed in interaction, Service Designers tend to look across multiple.</p>
        <p class="govuk-body">Interaction Designers also tend to have more of a focus on digital channels than Service Designers, who will be more focused on all of the channels a user might use.</p>
        <p class="govuk-body">Interaction Designers focus more on things like accessibility, conformity to design patterns etc.</p>
        <p class="govuk-body">Service Designers on the other hand will be more focused on acting as the conduit between the service team and other areas such as operations, other benefits and other organisations.</p>
        <p class="govuk-body">Interaction Designers will ask: What's the best way for someone to claim their state pension at DWP?</p>
        <p class="govuk-body">Service Designers will ask: How would getting your state pension work with another service or another organisation?</p>

        <h2 class="govuk-heading-m">When are Interaction Designers supposed to work with a Service Designer?</h2>
        <p class="govuk-body">Mostly in pre-discovery, discovery and alpha, when you're trying to contextualise a transaction, benefit or sub-service within a wider landscape.</p>

        <h2 class="govuk-heading-m">What should Interaction Designers work with a Service Designer on?</h2>
        <p class="govuk-body"><ul class="govuk-list govuk-list--bullet">
            <li>Visualising current problems that a user is facing</li>
            <li>Framing problems, why are we doing this work, what outcomes will a user get?</li>
            <li>Envisioning how a user's journey will fit with back-end processes, operational processes, other benefits etc.</li>
            <li>Persona building, workshops, service mapping</li>
            <li>User journey mapping</li>
            <li>Service blueprinting (to work out aspects of the blueprint)</li>
        </ul>
</p>
        <h2 class="govuk-heading-m">How can Service Design help me as an Interaction Designer?</h2>
        <p class="govuk-body">Helps Interaction Designers understand the context of their journey in a wider landscape – i.e., if you're designing a chair, what's the room it sits in?</p>
        <p class="govuk-body">Service Designers can support Interaction Designers on where to join up with other parts of the organisation.</p>
        <p class="govuk-body">They can also help surface cross overs and possible areas for failure early on in a project to help mitigate these early.</p>
        <p class="govuk-body">Service Designers can also help identify similar work or activities undertaken elsewhere in the organisation that Interaction Designers can learn from or replicate in their area.</p>
    </div>
</div>