{% extends "layout-internal-systems.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
  <main id="content" role="main">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Designing internal facing systems</h1>

        <h2 class="govuk-heading-l">
          1. Users
        </h2>
        <p class="govuk-body">
            Agents use systems to deliver a service to members of the public. It's crucial to know the system's and service's users.
            This knowledge is key to designing the right thing. Systems must meet the needs of both agents and the people they are helping. They must also meet business
            requirements to satisfy departmental and government policy.</p>
            <p class="govuk-body">
            The type of work undertaken by operational staff can vary significantly.
            Agents answer enquiries, make changes, and process claims.
            They may be interacting with members of the public when completing these tasks. Team leaders can prioritise, distribute, and manage workflow.
            Access roles can grant different permissions to agent groups.</p>
            <p class="govuk-body">
            Know what the end user needs from the service. Ensure the agent can provide the best service possible.
            <strong>Do less, unless it requires the public to do more. </strong>       </p>


        <h2 class="govuk-heading-l">
        2. Channels
        </h2>
        <p class="govuk-body">
        Like <a href="https://www.gov.uk/service-manual/service-standard/point-3-join-up-across-channels" class="govuk-link">citizen services</a>, organisations use internal systems to deliver services through many channels.
        One system can provide a service face-to-face, over the telephone, using a chat bot, or even via post. When designing internal systems,
        be more flexible with your approach.</p>
                <p class="govuk-body">

        Agents may need to switch tasks and channels, based on demand. Ensure the system is easy to navigate. Agents should be able to move without
        restrictions based on their tasks.</p>
        <p class="govuk-body">

        In a universal use case, we must <strong> balance doing many tasks well instead of perfecting one. </strong>       </p>
        <h2 class="govuk-heading-l">
          3. Context
        </h2>
        <p class="govuk-body">
            Unlike citizen-facing services, internal systems need not be intuitive right away. It's unrealistic to expect anyone to use them without policy
            knowledge or training.</p>
                    <p class="govuk-body">

            Frequency of use poses different design considerations than those of citizen-facing services. We design services for citizens so anyone,
            with no prior knowledge, can achieve their goal.
            Users of these services may only ever need to interact with them once.  <strong>Internal system users are typically regular users</strong>. They have access
            to information and training on their use.</p>
                    <p class="govuk-body">

            We must design internal systems alongside agent training and instructions. It's important to incorporate this in usability testing wherever possible.
            Test and learns can also help us learn how the system works with real data. They do this in a controlled, observed environment
            and allow us to <a href="https://www.gov.uk/service-manual/agile-delivery/core-principles-agile#fail-fast-learn-quickly" class="govuk-link">fail fast and learn quickly</a>.        </p>
        <h2 class="govuk-heading-l">
        4. Consistency
        </h2>
        <p class="govuk-body">
            A system should be consistent throughout. We should find design patterns in agent tasks.
            Then, we should reuse existing patterns where possible. Consistent systems will boost familiarity. This will cut training and build confidence. </p>
             <p class="govuk-body">
            We may offer options to let agents complete several tasks from the same place. A thorough understanding of the work allows us
            to identify patterns. We can then  <strong>reuse design patterns</strong>. This makes common tasks easier and more recognisable. </p>
             <p class="govuk-body">
            Do not reinvent the wheel unless you must. Reuse, document, and share patterns wherever possible. Use the <a href="https://design-system.dwp.gov.uk/" class="govuk-link">Design System</a>, and importantly,
            contribute to it. Document what works and what doesn’t in the context of the system you are designing. Your insight will make things better. </p>
             <p class="govuk-body">
            It is okay to deviate from the style guide and design system if insights inform the decision. Always document why you have done so. The approach
            must be consistent across the entire system.        </p>
        <h2 class="govuk-heading-l">
          5. Error
        </h2>
        <p class="govuk-body">
            We design systems to reduce and prevent errors. Yet we cannot eliminate them completely. Humans make mistakes. When they happen,  <strong>we must make
            it easy to identify and fix them.</strong>  </p>
             <p class="govuk-body">
            Agents should be able to fix errors in the system, rather than create workarounds. The less time they spend on correcting errors, the more
            time they can spend helping citizens.  </p>
             <p class="govuk-body">
            We can reduce human error by automating wherever we have the information available to do so. By applying policy rules to our systems, we can
            reduce reliance on knowledge and memory. We <a href="https://www.gov.uk/guidance/government-design-principles#do-the-hard-work-to-make-it-simple" class="govuk-link">do the hard work to make it simple </a>for citizens. We should do the same for our internal systems.
            They should be as simple as possible.  </p>
             <p class="govuk-body">
            When processes change significantly, we must include this in training and instructions. This will help build trust in the system and reduce
            any workarounds or duplication of effort.        </p>
        <h2 class="govuk-heading-l">
         6. Collaboration
        </h2>
        <p class="govuk-body">
            Your primary users, the agents, will often know the subject better than you.  <strong>Do with, not to.</strong> </p>
            <p class="govuk-body">
            Our operational colleagues should be active in the design process. We must include their experience and knowledge throughout. Consider
            integrating agents into the digital team from the start. This will enable continuous collaboration between design and operations. </p>
                <p class="govuk-body">
            Agents who use our systems have varied experience, from apprentice to expert. Understand both ends of the spectrum and find a balance.
            Design for all users - untrained, one-time users and experts. </p>
                <p class="govuk-body">
            Remember that agents are unlikely to be the sole operational user group. Think about how to work with colleagues in key roles. These include
            implementation, change management, training, and quality assurance.        </p>
        <h2 class="govuk-heading-l">
            7. Scaling        <h2>
        <p class="govuk-body">
        When designing a system,  <strong>consider how it will scale over time </strong>to provide all the functionality required to meet users’ needs. </p>
         <p class="govuk-body">
        Know how your system will cope with more users over time. You may need to think about how to add more complex features to the system.
        You may also need to design for how the organisation responds to new systems and processes. For example, to process changes or shifts in staff numbers. </p>
         <p class="govuk-body">
        It is important to understand how a new system will be used alongside existing systems. DWP's systems vary in maturity. Most users will use
         new systems within a wider ecosystem of tools and systems for some time. </p>
         <p class="govuk-body">
        We often need to make tactical decisions before we can implement strategic solutions. We must ensure we do not make it harder to shift to
         more strategic solutions when scaling.
                </p>
        <h2 class="govuk-heading-l">
        8. Secure
        </h2>
        <p class="govuk-body">
        Agents often need access to personal, sensitive information. There is guidance and rules that are in place to protect both the citizen and the
            agent. Access roles can be used to give different permissions to agent groups to support this.</p>
        <p class="govuk-body">
         <strong>Consider the environments of both the agent and the citizen</strong>. For example, an agent may need the citizen to provide sensitive information while
        using a phone in a public place. </p>
        <h2 class="govuk-heading-l">
       9. Data
        </h2>
        <p class="govuk-body">
        Sharing data across the department can result in improved agent and citizen interactions. Improving consistency and accuracy results
        in significant efficiencies across the department.</p>
        <p class="govuk-body">
        Changing data in one area of the department could have a significant impact on another. It is critical to  <strong>consider both upstream and
        downstream data consumption.</strong> This is key to understanding an end-to-end citizen journey. </p>


      </div>

    </div>

  </main>
{% endblock %}
