{% extends "layout-internal-systems-detail.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
  <main id="content" role="main">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Internal system design principles</h1>


        <h2 class="govuk-heading-l">
          5. Error
        </h2>
        <p class="govuk-body">
            We design systems to reduce and prevent errors. Yet we cannot eliminate them completely. Humans make mistakes. When they happen,  <strong>we must make
            it easy to identify and fix them.</strong>  </p>
             <p class="govuk-body">
            Agents should be able to fix errors in the system, rather than create workarounds. The less time they spend on correcting errors, the more
            time they can spend helping members of the public.  </p>
             <p class="govuk-body">
            We can reduce human error by automating wherever we have the information available to do so. By applying policy rules to our systems, we can
            reduce reliance on knowledge and memory. We <a href="https://www.gov.uk/guidance/government-design-principles#do-the-hard-work-to-make-it-simple" class="govuk-link">do the hard work to make it simple </a>for public facing services. We should do the same for our internal systems.
            They should be as simple as possible.  </p>
             <p class="govuk-body">
            When processes change significantly, we must include this in training and instructions. This will help build trust in the system and reduce
            any workarounds or duplication of effort.        </p>


      


      </div>

    </div>

  </main>
{% endblock %}
