{% extends "standards-layout-big-bar.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
  <main id="content" role="main">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">GDS Design Standards and Guidance </h2>
 <p class="govuk-body">
          To meet the government's standards we follow the guidance in the Government Design Service (GDS) Service Design Manual and the GDS Design Principles.
 </p>
 <p class="govuk-body">
    See the:
</p>

<ul class="govuk-list govuk-list--bullet">
<li><a href="https://www.gov.uk/service-manual">GDS Service Design Manual</a></li>
<li><a href="https://www.gov.uk/service-manual/service-standard">GDS Service Design Standard</a></li>
<li><a href="https://www.gov.uk/guidance/government-design-principles">GDS Design Principles</a></li>
</ul>
{# <h3 class="govuk-heading-m">Government Design Service (GDS)</h3>
Useful blogs

GDS Design blog

GDS User Research blog

Digital DWP blog #}

</div>

</div>

</main>
{% endblock %}
