{% extends "principles-layout-big-bar.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
  <main id="content" role="main">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">DWP Design Principles</h1>
        <h2 class="govuk-heading-m">
          Be user-centred, always
        </h2>
        <p class="govuk-body">
          Put users at the heart of everything we do and aim to meet their needs. Use evidence from research, data and feedback to support decision making on what we should and shouldn’t do.
        </p>
        <h2 class="govuk-heading-m">
          Be easy to find
        </h2>
        <p class="govuk-body">
          Our offering should be easy to find or be trusted to signpost a user to the appropriate place, if provided elsewhere
        </p>
        <h2 class="govuk-heading-m">
          Avoid manual processes
        </h2>
        <p class="govuk-body">
          Human assistance and intervention should be by exception, not the norm. Processes should be automated where at all possible.
        </p>
        <h2 class="govuk-heading-m">
          Frame the problem
        </h2>
        <p class="govuk-body">
          Frame the problem every time so that we understand why we are doing the work, who our users are, what outcome we are looking for and to identify key metrics and user-centred success measures.
        </p>
        <h2 class="govuk-heading-m">
          Build using shared capabilities
        </h2>
        <p class="govuk-body">
          To reduce redundancy, increase consistency and isolate future change we will build re-using common business architecture and shared application components. 
        </p>
        <h2 class="govuk-heading-m">
          Be agnostic of organisational structures
        </h2>
        <p class="govuk-body">
          We should not expect our users to understand our organisational structure for their need to be met. We will design and build services around user needs that cross channels and policy areas enabling users to get to the right outcome in the quickest and most efficient way.
        </p>
        <h2 class="govuk-heading-m">
          Provide end-to-end experiences which require the minimal number of steps to complete a task
        <h2>
        <p class="govuk-body">
          We make sure to join up services, tools and products into one experience providing simplicity, and reach the required outcome as quickly and efficiently as possible. 
        </p>
        <h2 class="govuk-heading-m">
          Data sharing 
        </h2>
        <p class="govuk-body">
          We will be consistent in the way we model data and where permitted be structurally tradeable and mastered in a single application domain in order to be used across the organisation. 
        </p>
        <h2 class="govuk-heading-m">
          Self-service 
        </h2>
        <p class="govuk-body">
          Our offering should be designed in a way that enables users to self-serve, however, we must make it easy to get human assistance if required. 
        </p>
        <h2 class="govuk-heading-m">
          We must be flexible in scale
        </h2>
        <p class="govuk-body">
          We should scale dynamically to avoid bottlenecks should demand increase and down-size to avoid unnecessary cost when demand reduces.       
        </p>

      </div>

    </div>

  </main>
{% endblock %}
