{% extends "layout.html" %}

{% block header %} 

  {% include "includes/cookie-banner.html" %}

  {% include "includes/dwp/dwp-header.html" %}

 


  {% block hero_content %}  
  <div class="big-bar">
    <div class="govuk-width-container big-bar__wrapper">
      {% include "includes/dwp/service-navigation.html" %}

      
          <h1 class="govuk-heading-xl big-bar">User Centred Design in the Department for Work and Pensions (DWP)</h1>
          
              <div class="app-masthead">
       
  

                    <p class="big-bar__description"> Use this design manual to find out how we design accessible user centred services and products at DWP.</p>

                
                            </div>
                                </div>
                                </div>
                               
                                </div>
        {% endblock %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
