{% extends "layout.html" %}

{% block header %} 

  {% include "includes/cookie-banner.html" %}

  {% include "includes/dwp/dwp-header.html" %}

 


  {% block hero_content %}  
  <div class="big-bar">
    <div class="govuk-width-container big-bar__wrapper">
      {% include "includes/dwp/service-navigation.html" %}

      
          <h1 class="govuk-heading-xl big-bar">User Centred Design in the Department for Work and Pensions (DWP)</h1>
        
              <div class="app-masthead">
       
  

                    <p class="big-bar__description"> Use this design manual to find out how we do User Centred Design at DWP and find standards and guidance on how to design accessible user centred services and products.</p>

                        <a href="/home/intro-to-ucd/overview" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start" data-module="govuk-button" data-govuk-button-init="">
                          Get started
                            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                            </svg>
                          </a>
                                </div>
                                </div>
                               
                                </div>
        {% endblock %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
