{% extends "dwp-layout-big-bar.html" %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">Design services at the Department for Work and Pensions (DWP).</h1>
  <p class="big-bar__description">We follow the <a href="https://www.gov.uk/guidance/government-design-principles">Government Design Principles</a> to deliver consistent, usable services that put people first.</p>

  <p class="big-bar__description">
    <!-- <a href="principles">See our user centred design principles</a> -->
  </p>

{% endblock %}

{% block content %}

 <main id="content" role="main">

  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="interaction-design/">Interaction and Service Design</a>
    </h2>
    <p class="govuk-body">How we design end-to-end services, user journeys and individual interactions.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="content-design/">Content Design</a>
    </h2>
    <p class="govuk-body">How we design content for our products and services.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="resources">Resources</a>
    </h2>
    <p class="govuk-body">Templates, blogs, and other useful information and resources.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-small">
      <a href="https://design-system.dwp.gov.uk/index">The DWP Design System</a>
    </h2>
    <p class="govuk-body">Use this design system to make your service consistent with DWP.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="https://accessibility-manual.dwp.gov.uk">The DWP Accessibility Manual</a>
    </h2>
    <p class="govuk-body">Guidance and best practice for building accessible services.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

  <p class="govuk-body">
    The content in this manual follows and supports the <a href="https://www.gov.uk/service-manual">GDS service manual</a>.
  </p>

</div>
</div>



 </main>

{% endblock %}
