{% extends "index-dwp-layout-big-bar.html" %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}


{% block page_title %}
  Interaction Design in DWP - DWP Digital User Centred Design Manual
{% endblock %}

{% block before_content %}
  <h1 class="govuk-heading-xl no-margin">User Centred Design in the Department for Work and Pensions (DWP)</h1>
{% endblock %}


{% block content %}

<main id="content" role="main">
  {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}  {{ card({
    cards: [
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "interaction-design/",
        "openInNewTab": false,
        "heading": "Interaction Design",
        "meta": "How we design how users interact with DWP services."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "service-design/",
        "openInNewTab": false,
        "heading": "Service Design",
        "meta": "How we design end-to-end services and user journeys."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "content-design/",
        "openInNewTab": false,
        "heading": "Content Design",
        "meta": "How we design content for our products and services."
      },
      {
        "imageCard": false,
        "imagePath": "/images/sample-image.jpg",
        "altText": "Sample Image",
        "headingLevel": "3",
        "linkCard": true,
        "link": "resources",
        "openInNewTab": false,
        "heading": "Resources",
        "meta": "Resources for designing services."
      }, 
      {
        "imageCard": false,
        "imagePath": "",
        "altText": "",
        "headingLevel": "2",
        "linkCard": true,
        "link": "https://design-system.dwp.gov.uk/index",
        "openInNewTab": false,
        "heading": "The DWP Design System",
        "meta": "Use this design system to make your service consistent with DWP."
      },
      {
        "imageCard": false,
        "imagePath": "",
        "altText": "",
        "headingLevel": "2",
        "linkCard": true,
        "link": "https://accessibility-manual.dwp.gov.uk",
        "openInNewTab": false,
        "heading": "The DWP Accessibility Manual",
        "meta": "Guidance and best practice for building accessible services."
      }
    ]
  }) }}
</main>
{% endblock %}