{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
Resources - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %}
<h1 class="govuk-heading-xl no-margin">Resources</h1>
<p class="big-bar__description">Links to useful information and other resources.</p>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <!-- <h2 class="govuk-heading-m">Training</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/prototype-kit-training">Training for designers using the Prototype Kit</a></li>
      </ul> -->

      <h2 class="govuk-heading-m">Training</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwp-design-manual.herokuapp.com/prototype-kit-training">Prototype kit training</a> – Resources and guidance on web development skills needed to use the <a href="https://govuk-prototype-kit.herokuapp.com/"> GOV.UK Prototype Kit.</a></li>
      </ul>


      <h2 class="govuk-heading-m">Flow diagram templates</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li> <a href="https://github.com/dashouse/govuk-design-system-flow-diagrams">Sketch GOV.UK flow diagram template</a> - A Sketch file for creating flow diagrams of GOV.UK services.</li>
        <li> <a href="https://github.com/paulmsmith/govuk-designsystem-flow-diagram-miro">MIRO GOV.UK flow diagram template</a> - A MIRO file for creating flow diagrams of GOV.UK services.</li>
        <li> <a href="https://github.com/charlesrt/gov-flow">GOV Flow</a> - A Sketch file for creating flow diagrams of GOV.UK services.</li>
      </ul> 
      
      <h2 class="govuk-heading-m">Wireframe templates</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li> <a href="https://github.com/vickytnz/govuk-elements-mural">GOV.UK elements in MURAL</a> - Components for creating wireframes of GOV.UK pages in MURAL.</li>
        <li> <a href="https://github.com/abbott567/sketch_wireframing_kit">Sketch Wireframing Kit</a> - Components for creating wireframes of GOV.UK pages in Sketch.</li>
      </ul>

      <h2 class="govuk-heading-m">Blogs</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://designnotes.blog.gov.uk/">Design in government blog</a></li>
        <li><a href="https://userresearch.blog.gov.uk/">User Research in government blog</a></li>
        <li><a href="https://dwpdigital.blog.gov.uk/">DWP digital blog</a></li>
      </ul>

      <h2 class="govuk-heading-m">Books and other resources</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://airtable.com/universe/expqM3OWZoJkjl7wy/the-monster-list-of-ux-books">Monster list of books</a> - A continuously updated list of UX books graded by user rating</li> 
        <li><a href="https://github.com/ctdesign/gov-design-systems-list">Gov Design Systems</a> - A list of design systems and design resources that gov departments have created.</li> 
      </ul>



    </div>

  </div>

</main>
{% endblock %}