{% extends "dwp-layout-big-bar.html" %}

{% block page_title %}
  Design Standards - DWP Digital User Centred Design Manual
{% endblock %}

{% block hero_content %} 
 <h1 class="govuk-heading-xl no-margin">Government Design standards</h1>
 <p class="big-bar__description">DWP products and services must meet the government’s Service Design Standard.</p>
{% endblock %}



{% block content %}
 <main id="content" role="main">

 <div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

 <p class="govuk-body">
          To meet the government's standards we follow the guidance in the Government Design Service (GDS) Service Design Manual and the GDS Design Principles.
 </p>
 
 <p class="govuk-body">
          See the:
 </p>

 <ul class="govuk-list govuk-list--bullet">
 <li><a href="https://www.gov.uk/service-manual">GDS Service Design Manual</a></li>
 <li><a href="https://www.gov.uk/service-manual/service-standard">GDS Service Design Standard</a></li>
 <li><a href="https://www.gov.uk/guidance/government-design-principles">GDS Design Principles</a></li>
 </ul>

 {# <h3 class="govuk-heading-m">Government Design Service (GDS)</h3>
        Useful blogs

        GDS Design blog

        GDS User Research blog

        Digital DWP blog #}

 </div>

 </div>

 </main>
{% endblock %}

