{% extends "standards-layout-big-bar.html" %}

{% block page_title %}
  Guiding Principles - DWP Digital User Centred Design Manual
{% endblock %}



{% block content %}
  <main id="content" role="main">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">


 <section style="background-color:#ffffff;" class="govuk-!-margin-top-0 govuk-!-margin-bottom-9">
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-l">Design Standards, Principles and Guidance</h2>
          </div>
          <div class="govuk-grid-column-one-half">

              <ul class="govuk-list dfe-action-list">
                  <li>
                      <a href="gds-standards" class="govuk-link govuk-link--no-visited-state">
                        GDS Design Standards and Guidance
                      <svg class="chevron dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a href="principles.html" class="govuk-link govuk-link--no-visited-state">
                          DWP Design Principles
                      <svg class="chevron dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a href="agent-facing-systems" class="govuk-link govuk-link--no-visited-state">
                      Designing internal facing systems
                      <svg class="chevron dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                          </svg>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>

 


 {# <h3 class="govuk-heading-m">Government Design Service (GDS)</h3>
        Useful blogs

        GDS Design blog

        GDS User Research blog

        Digital DWP blog #}

 </div>

 </div>

 </main>
{% endblock %}

