{% extends "dwp-layout-big-bar.html" %}

{% block hero_content %} 
  <h1 class="govuk-heading-xl no-margin">Design services at the Department for Work and Pensions</h1>
  <p class="big-bar__description">How to make consistent, usable services that put people first.</p>
{% endblock %}

{% block content %}

 <main id="content" role="main">

 <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="accessibility">Accessibility</a>
    </h2>
    <p>How we make DWP services accessible for everyone.</p>
  </div>

  {# <div class="govuk-grid-column-one-third">
          <h2 class="heading-medium">
            <a href="https://dwp-style-guide.herokuapp.com/">Content style guide</a>
          </h2>
          <p>How we write for DWP services.</p>
        </div> #}

  {# <div class="govuk-grid-column-one-third">
          <h2 class="heading-medium">
            <a href="ways-of-working">Ways of working</a>
          </h2>
          <p>How professions work with each other to design and build services in DWP.</p>
        </div> #}
 
  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="skills">Skills and expectations for designers</a>
    </h2>
    <p>The skills we use to design our products and services.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="principles">Guiding principles</a>
    </h2>
    <p>For everyone working towards our digital strategy in DWP.</p>
  </div>

 </div>

 <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="standards">Government Design standards</a>
    </h2>
    <p>How we meet the government’s standards in our products and services.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="design-patterns">Design patterns and components</a>
    </h2>
    <p>Find out about the common components and patterns we use to design our products and services.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="resources">Useful resources</a>
    </h2>
    <p>Templates, links to useful information and other resources.</p>
  </div>

  {# <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="when-where-how">When, where and how</a>
    </h2>
    <p>Know when to do what work, where to do it and how to do it to make great services.</p>
  </div>#}

 </div>

 </main>

{% endblock %}