<div class="plancontainer">
    <div class="planservicecontainer">
  
      <div class="plan-service-title">
        <p>Green zone dependencies</p>
      </div>

      {% set dwpExternalIdentity = false %}
      {% set dwpNotifications = false %}
      {% set dwpIncome = false %}
      {% set dwpSafeguarding = false %}  
      {% set dwpAnalytics = false %}  
  
      <div class="plantimeframe dependency-row">

        <div class="data-component-container"> 
          <!-- 
            cycle through the data 
            if it states now show it
            mark it as done so it doesnt show again in next or future
          -->

          {% for item in data.planData %}
            {% if item.Time == "now" %}
              {% if item.dependency1 == "DWP External Identity" or item.dependency2 == "DWP External Identity" or item.dependency3 == "DWP External Identity" or item.dependency4 == "DWP External Identity" or item.dependency5 == "DWP External Identity" %}
                {% if dwpExternalIdentity == false %}
                    <p>External Identity</p>
                    {% set dwpExternalIdentity = true %}
                {% endif %}
              {% endif %}
              {% if item.dependency1 == "DWP Notifications" or item.dependency2 == "DWP Notifications" or item.dependency3 == "DWP Notifications" or item.dependency4 == "DWP Notifications" or item.dependency5 == "DWP Notifications" %}
                  {% if dwpNotifications == false %}
                      <p>Notifications</p>
                      {% set dwpNotifications = true %}
                  {% endif %}
              {% endif %}
              {% if item.dependency1 == "DWP Citizen Income" or item.dependency2 == "DWP Citizen Income" or item.dependency3 == "DWP Citizen Income" or item.dependency4 == "DWP Citizen Income" or item.dependency5 == "DWP Citizen Income" %}
                  {% if dwpIncome == false %}
                      <p>Citizen income</p>
                      {% set dwpIncome = true %}
                  {% endif %}
              {% endif %}
              {% if item.dependency1 == "DWP Safeguarding" or item.dependency2 == "DWP Safeguarding" or item.dependency3 == "DWP Safeguarding" or item.dependency4 == "DWP Safeguarding" or item.dependency5 == "DWP Safeguarding" %}
                  {% if dwpSafeguarding == false %}
                      <p>Safeguarding</p>
                      {% set dwpSafeguarding = true %}
                {% endif %}
              {% endif %}
              {% if item.dependency1 == "DWP Analytics" or item.dependency2 == "DWP Analytics" or item.dependency3 == "DWP Analytics" or item.dependency4 == "DWP Analytics" or item.dependency5 == "DWP Analytics" %}
                {% if dwpAnalytics == false %}
                  <p>Analytics</p>
                  {% set dwpAnalytics = true %}
                {% endif %}
              {% endif %}
            {% endif %}
        {% endfor %}
          </ul>
        </div>
      </div>
  
      <div class="plantimeframe dependency-row">
        {% for item in data.planData %}
        {% if item.Time == "next" %}
          {% if item.dependency1 == "DWP External Identity" or item.dependency2 == "DWP External Identity" or item.dependency3 == "DWP External Identity" or item.dependency4 == "DWP External Identity" or item.dependency5 == "DWP External Identity" %}
            {% if dwpExternalIdentity == false %}
                <p>External Identity</p>
                {% set dwpExternalIdentity = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Notifications" or item.dependency2 == "DWP Notifications" or item.dependency3 == "DWP Notifications" or item.dependency4 == "DWP Notifications" or item.dependency5 == "DWP Notifications" %}
              {% if dwpNotifications == false %}
                  <p>Notifications</p>
                  {% set dwpNotifications = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Citizen Income" or item.dependency2 == "DWP Citizen Income" or item.dependency3 == "DWP Citizen Income" or item.dependency4 == "DWP Citizen Income" or item.dependency5 == "DWP Citizen Income" %}
              {% if dwpIncome == false %}
                  <p>Citizen income</p>
                  {% set dwpIncome = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Safeguarding" or item.dependency2 == "DWP Safeguarding" or item.dependency3 == "DWP Safeguarding" or item.dependency4 == "DWP Safeguarding" or item.dependency5 == "DWP Safeguarding" %}
              {% if dwpSafeguarding == false %}
                  <p>Safeguarding</p>
                  {% set dwpSafeguarding = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Analytics" or item.dependency2 == "DWP Analytics" or item.dependency3 == "DWP Analytics" or item.dependency4 == "DWP Analytics" or item.dependency5 == "DWP Analytics" %}
            {% if dwpAnalytics == false %}
              <p>Analytics</p>
              {% set dwpAnalytics = true %}
            {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}
</div>
  
      <div class="plantimeframe dependency-row">
        {% for item in data.planData %}
        {% if item.Time == "later" %}
          {% if item.dependency1 == "DWP External Identity" or item.dependency2 == "DWP External Identity" or item.dependency3 == "DWP External Identity" or item.dependency4 == "DWP External Identity" or item.dependency5 == "DWP External Identity" %}
            {% if dwpExternalIdentity == false %}
                <p>External Identity</p>
                {% set dwpExternalIdentity = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Notifications" or item.dependency2 == "DWP Notifications" or item.dependency3 == "DWP Notifications" or item.dependency4 == "DWP Notifications" or item.dependency5 == "DWP Notifications" %}
              {% if dwpNotifications == false %}
                  <p>Notifications</p>
                  {% set dwpNotifications = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Citizen Income" or item.dependency2 == "DWP Citizen Income" or item.dependency3 == "DWP Citizen Income" or item.dependency4 == "DWP Citizen Income" or item.dependency5 == "DWP Citizen Income" %}
              {% if dwpIncome == false %}
                  <p>Citizen income</p>
                  {% set dwpIncome = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Safeguarding" or item.dependency2 == "DWP Safeguarding" or item.dependency3 == "DWP Safeguarding" or item.dependency4 == "DWP Safeguarding" or item.dependency5 == "DWP Safeguarding" %}
              {% if dwpSafeguarding == false %}
                  <p>Safeguarding</p>
                  {% set dwpSafeguarding = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Analytics" or item.dependency2 == "DWP Analytics" or item.dependency3 == "DWP Analytics" or item.dependency4 == "DWP Analytics" or item.dependency5 == "DWP Analytics" %}
            {% if dwpAnalytics == false %}
              <p>Analytics</p>
              {% set dwpAnalytics = true %}
            {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}
</div>
  
      <div class="plantimeframe dependency-row">
        {% for item in data.planData %}
        {% if item.Time == "future" %}
          {% if item.dependency1 == "DWP External Identity" or item.dependency2 == "DWP External Identity" or item.dependency3 == "DWP External Identity" or item.dependency4 == "DWP External Identity" or item.dependency5 == "DWP External Identity" %}
            {% if dwpExternalIdentity == false %}
                <p>External Identity</p>
                {% set dwpExternalIdentity = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Notifications" or item.dependency2 == "DWP Notifications" or item.dependency3 == "DWP Notifications" or item.dependency4 == "DWP Notifications" or item.dependency5 == "DWP Notifications" %}
              {% if dwpNotifications == false %}
                  <p>Notifications</p>
                  {% set dwpNotifications = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Citizen Income" or item.dependency2 == "DWP Citizen Income" or item.dependency3 == "DWP Citizen Income" or item.dependency4 == "DWP Citizen Income" or item.dependency5 == "DWP Citizen Income" %}
              {% if dwpIncome == false %}
                  <p>Citizen income</p>
                  {% set dwpIncome = true %}
              {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Safeguarding" or item.dependency2 == "DWP Safeguarding" or item.dependency3 == "DWP Safeguarding" or item.dependency4 == "DWP Safeguarding" or item.dependency5 == "DWP Safeguarding" %}
              {% if dwpSafeguarding == false %}
                  <p>Safeguarding</p>
                  {% set dwpSafeguarding = true %}
            {% endif %}
          {% endif %}
          {% if item.dependency1 == "DWP Analytics" or item.dependency2 == "DWP Analytics" or item.dependency3 == "DWP Analytics" or item.dependency4 == "DWP Analytics" or item.dependency5 == "DWP Analytics" %}
            {% if dwpAnalytics == false %}
              <p>Analytics</p>
              {% set dwpAnalytics = true %}
            {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}
</div>
  
    </div>