<div class="planservicecontainer">

    <div class="plan-service-title">
      <h4 class="govuk-heading-s">{{servicename}}</h4>
    </div>

    <div class="plantimeframe plannow">
      {% include "./now.html" %}
    </div>

    <div class="plantimeframe plannext">
      {% include "./next.html" %}
    </div>

    <div class="plantimeframe planlater">
      {% include "./later.html" %}
    </div>

    <div class="plantimeframe planfuture">
      {% include "./future.html" %}
    </div>

  </div>