<div class="plancontainer">
    <div class="planservicecontainer">
  
      <div class="plan-service-title">
        &nbsp;
      </div>
  
      <div class="plantimeframe plan-time-header">
        <p class="govuk-body-l">Now: 0-6 months</p>
        <p>Financial year 2020/2021</p>
      </div>
  
      <div class="plantimeframe plan-time-header">
        <p class="govuk-body-l">Next: 6 months - 1 year</p>
        <p>Financial year 2021/2022</p>
      </div>
  
      <div class="plantimeframe plan-time-header">
        <p class="govuk-body-l">Later: 1 - 2 years</p>
        <p>Financial year 2022/23 - 23/2024</p>
      </div>
  
      <div class="plantimeframe plan-time-header">
        <p class="govuk-body-l">Future: 3 years +</p>
        <p>Financial year 2024/25 onwards</p>
      </div>
  
    </div>